{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si l'email d'un compte correspond a l'email indiqué, alors un email contenant un lien de reinitialisation de votre mot de passe vous a été envoyé.
        ce lien expirerat dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email veuillez vérifier votre boite de spam puis <a href="{{ path('app_forgot_password_request') }}">cliquez ici</a> pour un nouvel envoie.</p>
{% endblock %}
