<h1>Bonjour,</h1>

<p>Pour reinitialiser votre mot de passe veuillez cliquer sur le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expireras dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. Si jamais vous n'êtes pas a l'origine de cette demande veuillez ne pas tenir compte de cet email.</p>

<p>merci et a bientôt sur <a href="http://localhost/sortir.com/public/sortir">sortir.com</a></p>
