body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-size: 15px;
    line-height: 15px;
    padding: 30px;
}
main{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 30px;
    min-height: 70vh;
}
li{
    margin-right: 20px;
}
nav li{
    border-right: 1px solid white;
    padding-right: 20px;
}
ul {
    list-style-type : none;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: rgb(179, 177, 177);
    font-size: 26px;
}

.center{
    display: flex;
    justify-content: center;
}
.space-between{
    display:flex;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 200px;
    height: 67px;
}
.logo-display:hover {
    display: none;
}
.logo:hover{
    background: url("img/logoAnimLoopXXS.gif");
}
h1{
    text-align: center;
    color: rgb(240, 240, 240);
    text-shadow: 3px 3px black ;
    margin-bottom: 20px;
}
label{
    margin-right: 10px;
}
button{
    padding:5px;
    color: white;
    background: linear-gradient(to top, #3399ff 0%, #000099 100%);
    font-size: 20px;
    box-shadow:5px 5px 5px plum;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover{
    background: linear-gradient(to top, #67b0fa 0%, #303096 100%);
}

legend{
    padding: 10px;
    color: white;
}

input, select{
    width: 300px;
    position: relative;
    top: -5px;
}

select{
    text-align: center;
}

label{
    display: block;
    width: 150px;
    text-align: right;
}

form > div > *{
    display: flex;
    padding: 10px 0;
    width: 450px;
    margin: auto;
}
select{
    padding: 5px;
}
table{
    table-layout: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow:5px 5px 5px #5eb5e0;

    overflow: hidden;
}
th{
    height: 35px;
    color: red;
    text-shadow: 2px 2px 10px lightskyblue;
}
td{

    height: 25px;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
td > a{
    margin: 5px 5px 5px 5px;
    color: white;
    border: 2px black solid;
    box-shadow:2px 2px 2px blueviolet;
    border-radius: 10px 10px;
    text-decoration: none;
}


@media only screen and (min-width: 800px) {
    body {
        font-size: 20px;
    }
}