{% extends 'base.html.twig' %}

{% block title %}Creer une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortie) }}
        {{ form_widget(sortie) }}
            <button type="reset" class="btn">Annuler</button>
    {{ form_end(sortie) }}
{% endblock %}

{% block javascripts %}

      {#  <script>
        window.onload = () => {
           let ville = document.querySelector("#sortie_ville");

           ville.addEventListener("change",function(){
               let form = this.closest("form");
               let data = this.name+ "=" + this.value;

               fetch(form.action,{
                  method:form.getAttribute("method"),
                   body:data,
                   headers:{
                      "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                   }
               })
               .then(response => response.text())
               .then(html=>{
                   let content = document.createElement("html");
                   content.innerHTML = html;
                   let lieuSelect = content.querySelector("#sortie_lieu");
                   document.querySelector("#sortie_lieu").replaceWith(lieuSelect);
               })
           });
        }

    </script>#}
{% endblock %}