<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="stylesheet"href="global.css">
    </head>
    <body>
        <header>
            {% block delheader %}
            <img src="![](../public/img/logoAnimLoopXXS.gif)">
            <nav>
                <ul>
                    <li><a href="{{ path('_profiler_home') }}">Accueil</a></li>
                    <li><a href="">Mon profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    <li></li>
                </ul>
            </nav>
            {% endblock %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
